@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow:ital,wght@0,400..700;1,400..700&display=swap');

body {
    font-family: "Archivo Narrow", sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

/* fundo da abas */
nav {
    background-color: #333;
    padding: 15px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

/* buttos */
.tab-link {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 55px;
    margin-top: 10px;
    margin-right: 70px;
    cursor: pointer;
    background-color: #444;
    border-radius: 50px;
}

.tab-link.active {
    background-color: #007bff;
}

/* texto */
.text {
    display: none;
    padding: 20px;
}

.tab-content.active {
    display: block;
}
